# Add binaries from Hermit to the PATH
PATH_add bin

dotenv_if_exists .env

export HERMIT_PYTHON_PACKAGES_DIR=$(pwd)
export DIST_DIR=$HERMIT_PYTHON_PACKAGES_DIR/dist
export TMP_DIR=$HERMIT_PYTHON_PACKAGES_DIR/tmp